body {
	background-color: #D8F7FC;
	display: grid;
	grid-template-rows: 15% 72% 5%;
	height: 100vh;
}

main {
	margin: auto;
	width: 70%;
	min-width: 400px;
	background: radial-gradient(#FFFFFF, #D8F7FC);
	align-self: center;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.text {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: center;
	margin-left: 3%;
}

button {
	padding: 1.5%;
	border: none;
	border-radius: 5px;
	background-color: #C75050;
	color: white;
	transition: background-color 0.3s ease;
}

button:hover {
	cursor: pointer;
}

input {
	width: 10%;
	min-width: 100px;
	padding: 1.5%;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

.fade {
	opacity: 30%;
}

#lives, h1, .fade {
	color: #C75050;
}

@media (max-width: 600px) {
	input, button {
		width: 80%;
		padding: 12px;
		font-size: 18px;
	}
}
