body {
    background-color: #D8F7FC;
}
h1, h3, form {
    font-family: "Roboto", sans-serif;
    font-weight: 500px;
    font-style: normal;
    letter-spacing: 1px;
    text-align: center;
    width: 48%;
    margin: 3%;
}
#lifes, h1, form {
    width: 100%;
}
section {
    width: 95%;
    min-width: 500px;
    min-height: 65px;
    background: radial-gradient(#FFFFFF, #D8F7FC);
    margin: auto;
    margin-bottom:5%;
    display: flex;
    flex-wrap: wrap;
    -webkit-wrap: wrap;
}
.right {
    text-align: right;
    margin-right:5%;
}
form {
    margin: auto;
    text-align: left;
}
button:hover {
    cursor: pointer;
}
