body {
    background-color: #D8F7FC;
	display: grid;
	grid-template-rows: 15% 72% 5%;
	height: 100vh;
}

main {
	margin: auto;
	width: 70%;
	min-width: 400px;
	background: radial-gradient(#FFFFFF, #D8F7FC);
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text {
	font-family: "Roboto", sans-serif;
	font-weight: 400px;
	font-style: normal;
	letter-spacing: 1px;
	text-align: center;
	margin-left: 5%;
}

.fade {
	opacity: 30%;
}

button:hover {
    cursor: pointer;
}

#lives, h1, .fade {
    color: #C75050;
}

input {
	width: 20%;
}
